# ======================
# Python / Django
# ======================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static_root/
*.mo
local_settings.py

# Pytest / coverage
.coverage
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDE / editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ======================
# Node / React
# ======================
# Node modules
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
package-lock.json
yarn.lock

# Build / output
build/
dist/
.eslintcache

# Temporary files
.DS_Store
.env
.env.local
.env.*.local

# ======================
# Misc
# ======================
*.swp
*.swo
*.bak
*.tmp

*vir/
